/* .heroWrapper{

} */
.logo{
    width: 7rem;
    margin: 1rem auto;
    display: grid;
    place-items: center;

 }

.flexBox{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-left: 4rem;
    padding-right: 4rem;
}

.flexOne{
    width: 80%;
}


@media screen and (min-width: 900px) {
    .flexOne{
        width: 50%;
    }  
}