.heroWrapper{
    height: 100%;
    margin-bottom: 7rem;
}

.logo{
    width: 5rem;
    margin: 1rem auto;
    display: grid;
    place-items: center;

 }

.flexBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.flexOne{
    width: 90%;
}

.flexTwo{
    width: 100%;
}

.colorText{
    background: var(--gradient-color);
    margin-bottom: 1rem;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cto{
    /* width: 10rem; */
    height: 3rem;
    padding: .75rem 1rem;
    margin-top: 2rem;
    border: 2px solid #000000;
    background-color: #fff;
    color: var(--black-color);
    border-radius: 10px;
    font-family: inherit;
    font-size: var(--fontFourteen);
    font-weight: 600;
    cursor: pointer;
    transition: .3s linear;
}

.cto:hover{
    border: 2px solid var(--purple-color);
    background: var(--gradient-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.serviceItem{
    width: 100%;
    height: max-content;
    border: 3px solid #000000;
    padding: 1rem;
    text-align: center;
    background-color: var(--white-color);
}

.serviceBar{
    width: 20%;
    height: 3px;
    background: var(--black-color);
    display: none;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 500px) {
    .services{
        flex-direction: row;
    }
    
    .serviceItem{
        width: auto;
    }

    .serviceBar{
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    .flexOne{
        width: 55%;
    } 
     
    .flexTwo{
        display: block;
        width: 45%;
    }  
}

@media screen and (min-width: 900px) {

    .flexOne{
        width: 50%;
    } 
     
    .flexTwo{
        display: block;
        width: 50%;
    }  

}

@media screen and (min-width: 1200px) {
    .serviceItem{
        width: auto;
    }
}