/*------------ [Root]-----------*/
:root {

    /* Colors */
    --white-color: #FFFFFF;
    --bg-color: #fefaf6;
    --black-color: #0c0c0c;
    --grey-color: #D9D9D9;
    --purple-color: #8975ff;
    --gradient-color: linear-gradient(90deg, #8975ff, #ce85df 50%, #b3a2fd);
    --gradient-purple: linear-gradient(90deg, #e2ddff, #f3e1f7 50%, #ece8fe);
    --gradient-green: linear-gradient(45deg, #e4f8eb, #e1f6ef 50%, #dcebed);
    --gradient-yellow: linear-gradient(90deg, #fffddd, #f7e6e1 50%, #fef6e8);
    --gradient-blue: linear-gradient(90deg, #ddebff, #e1f5f7 50%, #e8e8fe);
    --gradient-pink: linear-gradient(90deg, #ffddfb, #fdddff 50%, #e8f4fe);
    --gradient-orange: linear-gradient(90deg, #ffdddd, #ffeddd 50%, #fee8e8);

    /* FontStyle*/
    --fontOne: 'space_groteskregular', sans-serif;
    --fontTwo: 'space_groteskbold', sans-serif;
   
    /* Font Sizes */
    --font-sixtyFour: 3.5rem;
    --font-thirtyTwo: 1.35rem;
    --font-twentyFour: 1.25rem;
    --font-eighteen: 1.125rem;
    --font-sixteen: .8725rem;
    --font-fourteen: .88rem;
    --font-twelve: .75rem;
}

@media screen and (min-width:900px) {
    :root {
        --font-sixtyFour: 4rem;
        --font-thirtyTwo: 2rem;
        --font-twentyFour: 1.5rem;
        --font-eighteen: 1.25rem;
        --font-sixteen: 1rem;
        --font-fourteen: .88rem;
        --font-twelve: .75rem;
    }
}

/*========================================*/
/*------------ [_Reset_Styles] -----------*/
/*========================================*/
*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}


@font-face {
    font-family: 'space_groteskregular';
    src: url('../src/assets/Spacegrotesk/spacegrotesk-regular-webfont.woff2') format('woff2'),
         url('../src/assets/Spacegrotesk/spacegrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'space_groteskbold';
    src: url('../src/assets/Spacegrotesk/spacegrotesk-bold-webfont.woff2') format('woff2'),
         url('../src/assets/Spacegrotesk/spacegrotesk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*========================================*/
/*--------------- [_Utility] -------------*/
/*========================================*/
body {
    max-width: 1440px;
    height: 100vh;
    background-color: var(--white-color);
    font-family: var(--fontOne);
    color: var(--black-color);
    letter-spacing: 0px;
}

p, h1, h2, h3,
h4, h5, h6{
    padding: 0;
    margin: 0;
}

h2, h3,
h4, h5, h6 {
    color: var(--head-pri-color);
    font-family: var(--fontOne);
}

p {
    font-size: var(--font-fourteen);
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--text-pri-color);
}

h1 {
    font-size: var(--font-sixtyFour);
    font-family: var(--fontTwo);
    line-height: 3.5rem;
    font-weight: 700;
    letter-spacing: -2px;
}

h2 {
    font-size: var(--font-thirtyTwo);
    line-height: 2rem;
    font-weight: 700;
}

h3 {
    font-size: var(--font-eighteen);
    line-height: 2rem;
    font-weight: 600;
}

h4 {
    font-size: var(--font-sixteen);
    line-height: 1.5rem;
    font-weight: 600;
}

h5 {
    font-size: var(--font-twelve);
    font-weight: 600;
    line-height: 1.5rem;
}

h6 {
    font-size: 12px;
    line-height: 1.2rem;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: var(--fontOne);
}

ul li {
  list-style: none;
}

img {
  border: none;
  max-width: 100%;
  background-position: center;
  background-size: cover;
}

/*--------------- [Body Wrapper] -------------*/
.bodyWrapper{
  display: grid;
  grid-template-columns: 100%;
  gap: 2rem;
  margin: 0 1rem;
  /* max-width: 2560px; */
}





@media screen and (min-width: 900px) {
    h1{
        line-height: 4rem;
    }

    .bodyWrapper{
        margin: 0 4rem;
    }
}