.tutorWrapper{
    background-image: var(--gradient-blue);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 7rem;
}

.videoFlex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.videoBox{
    margin: 1rem;
}